# These are for local configuration
*.el
*cache*
.DS_Store
.mc-lists.el
.trello
/*-init.el
bookmarks/
games/
auto-save-list/
backups/
elpa/
eshell/
image-dired/
local-settings.el
local-settings.org
local.el
local.org
projectile-bookmarks.eld
recentf
request/
themes/
url/
