# These are for local configuration
local.org
local.el


.trello
elpa/
auto-save-list/
projectile-bookmarks.eld
.DS_Store
backups/
/bookmarks
*cache*
url/
eshell/
recentf
/*-init.el
request/
.mc-lists.el
*.el
themes/
