# -*- mode: snippet -*-
# name: Panel Component
# key: Panel
# group: react
# --
<Panel title={${1:Title}} buttonGroup={${2:null}} footer={${3:null}} panelStyle={${4:default|primary|success|info|warning|danger}} >
$0
</Panel>
