# -*- mode: snippet; require-final-newline: nil -*-
# name: add another story example
# key: addstory
# group: storybook
# --
.add('${2:example}', () => {const props = {}; return (<${1:Component} {...props} />)})
