# -*- mode: snippet -*-
# name: jest test template
# key: jtt
# group: specs
# --
import React from "react"
import renderer from "react-test-renderer"
// import { shallow } from "enzyme"
import { ${1:Component} } from "./${2:index}"
// import $1 from "./$2"

describe.skip("$1", () => {
it("renders the $1 component", () => {
expect(renderer.create(<$1 />)).toMatchSnapshot()
})
})
